body {
    margin: 0;
    padding: 0;
    background: url(pag4.png);
    background-size: cover;
    background-position: 0px -50px; /* Modifica la posición x e y aquí */
    font-family: sans-serif;
}
