body {
    margin: 0;
    padding: 0;
    background: url(pag1.png);
    background-size: cover;
    background-position: 0px -30px; /* Modifica la posición x e y aquí */
    font-family: sans-serif;
}
