.botton-direccion {
    background-color: #eefb03;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 2.4rem;
    border-radius: 12px;
    font-family: sans serif;
    position: absolute; /* Permite mover el botón */
    top: 740px; /* Posición vertical (y) */
    left: 260px; /* Posición horizontal (x) */
}
