.botton-direccion6 {
    background-color: #00000000;
    border: none;
    color: black;
    padding: 40px 53px;
    text-decoration: none;
    font-size: 2.4rem;
    border-radius: 12px;
    font-family: sans serif;
    position: absolute; /* Permite mover el botón */
    top: -40px; /* Posición vertical (y) */
    left: 990px; /* Posición horizontal (x) */
}
