.botton-direccion3 {
    background-color: #00000000;
    border: none;
    color: black;
    padding: 55px 62px;
    text-decoration: none;
    font-size: 2.4rem;
    border-radius: 12px;
    font-family: sans serif;
    position: absolute; /* Permite mover el botón */
    top:  30px; /* Posición vertical (y) */
    left: 10px; /* Posición horizontal (x) */
}
